*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

:root {
    --color-blue: rgb(20, 20, 100);
    --margin-base: 20px;
}

.container{
    min-height:100vh ;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    width: 60%;
}

.box{
    width: 50%;
    height: 90%;
    color: var(--color-blue);
    margin-bottom: var(--margin-base);
}

.box h2{
    font-size: 6vmin;
    margin: var(--margin-base);
}

.box p{
    width: 90%;
    font-size: 3vmin;
    margin: var(--margin-base);
}


.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.box-form-item{
    padding: 0 10px;
    height: 90px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box-form-item label{
    font-size: 18px;

}

input, select{
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-size: 18px;
}

select{
    padding-left: 10px;
}

.icon  {
    position: relative;
    top: 28px;
    left: 15px;
}

/* FORMATAÇÃO DA BORDA DO SELECT E O DO INPUT (OUTLINE-COLOR) */

select:focus,
input:focus {
    outline-color: #20046e;
}

.box-form-radio{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.radio{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.box-form-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-base);
}

.box-form-button button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: var(--color-blue);
    color: white;
    border-radius: 7px;
    font-size: 25px;
    border: 0;  
}

.arrow{
    color: #6c98e5;
    margin-left: 7px;
}

label:not(.radio label, .select){
    margin-bottom: -10px;
}